<nav>
	<!-- *ngIf="isLoggedIn" -->
	<div class="nav-wrapper">
		<div class="page-content-nav">
			<span>{{activePageTitle | translate}}</span>
		</div>
		<div class="tbar-shortcuts">
			<div class="tbar-shortcuts-dd-menu" *ngIf="isLoggedIn">
				<!-- shortcuts buttons with drop down menu -->
				<div *ngFor="let inbox_msg of inboxMessage" class="{{inbox_msg.btn_conf.class}} dropdown-button"
					attr.data-activates="{{inbox_msg.btn_conf.d_a}}" data-toggle="tooltip"
					attr.data-placement="{{inbox_msg.btn_conf.d_p}}" title="{{inbox_msg.btn_conf.title | translate}}">
					<span class="material-icons icon">{{inbox_msg.btn_conf.icon}}</span> 
					<sccl-dropdown-menu id="{{inbox_msg.btn_conf.d_a}}"
						class='dropdown-content' [listItems]="inboxMsg_box"
						[menuHeader]="inbox_msg.header"> </sccl-dropdown-menu>
				</div>

				<div *ngFor="let instant_msg of instantMessage" class="{{instant_msg.btn_conf.class}} dropdown-button"
					attr.data-activates="{{instant_msg.btn_conf.d_a}}" data-toggle="tooltip"
					attr.data-placement="{{instant_msg.btn_conf.d_p}}" title="{{instant_msg.btn_conf.title | translate}}">
					<span class="material-icons icon">{{instant_msg.btn_conf.icon}}</span>
					<sccl-dropdown-menu id="{{instant_msg.btn_conf.d_a}}" class='dropdown-content'
						[listItems]="instantMsg_box" [menuHeader]="instant_msg.header">
					</sccl-dropdown-menu>
				</div>

				<div *ngFor="let notif_msg of notificationMessage" class="{{notif_msg.btn_conf.class}} dropdown-button"
					attr.data-activates="{{notif_msg.btn_conf.d_a}}" data-toggle="tooltip"
					attr.data-placement="{{notif_msg.btn_conf.d_p}}" title="{{notif_msg.btn_conf.title | translate}}">
					<span class="material-icons icon">{{notif_msg.btn_conf.icon}}</span>
					<sccl-dropdown-menu id="{{notif_msg.btn_conf.d_a}}"
						class='dropdown-content' [listItems]="notificationMsg_box"
						[menuHeader]="notif_msg.header"> </sccl-dropdown-menu>
				</div>
			</div><!-- tbar shortcuts with drop down menu -->
			
			<!-- these tbar shortcuts are without drop down menu -->
			<div class="tbar-shortcuts-dd-menu-none">
				<sccl-A-button [scclBtns]="shortcutBtns" (btnActions)="btnActions($event)"></sccl-A-button>
			</div><!-- tbar shortcuts without drop down menu -->
		</div>
	</div>
</nav>

<nav id="navbar-onscroll">
	<div class="navbar-onscroll-wrapper">
		<div class="sect-one">
			<div *ngIf="isLoggedIn" class="left-sidebar-toggle">
				<a class="btn-floating btn waves-effect waves-light"><i
					class="material-icons">menu</i></a>
			</div>
			<div class="sccl-logo">
				<img alt="sccl" src="{{ 'scclLogo/sccl_logo' | scclPngExt }}"> 
			</div>
		</div>
		<div class="sect-two">
			<span>{{activePageTitle | translate}}</span>
		</div>
		<div class="sect-three">
			<a class="btn-floating btn waves-effect waves-light"><i class="material-icons">menu</i></a>
		</div>
		
	</div>
</nav>
