@import '../../../../scclCommon/scclComponents/scclDropDownMenu/scclDropDownMenu';
@import '../../../../scclCommon/scclComponents/scclButtons/scclAButton/scclAButton';

@mixin sccl-foot-head($theme) {
	sccl-foot-head {
		.waves-effect, .waves-light{
			height: $foot-head-height;
			line-height: 10px;	
		} 
		nav {
			min-height: 10px;
			height: $foot-head-height;
			.nav-wrapper {
				height: $foot-head-height;
				@include display-flex(space-between, center);
				background: map-get($theme, 'sccl-header-primary-lighten');
				.tbar-shortcuts {
					@include display-flex(flex-end, center);
					height: $foot-head-height;
					.tbar-shortcuts-dd-menu {
						@include display-flex(flex-end, center);
						> div {
							padding: 0 15px;
							border-left: solid map-get($theme, 'sccl-header-primary-darken') 1px;
							@include display-flex(flex-end, center);
							height: $foot-head-height;
							&:hover {
									color: map-get($theme, 'sccl-header-text-lighten');
									background: map-get($theme, 'sccl-header-primary-darken');
									cursor: pointer;	
							}
							.icon {
								font-size: $icon-font-size;
							}
						}
					}
				
					.dropdown-button {
						> a {
  							@include sccl-rounded-btn($theme)
  						}
					}
					.tbar-shortcuts-dd-menu-none {
						height: $foot-head-height;
						overflow: hidden;
						@include display-flex(none, center);
						sccl-A-button {
							@include sccl-A-button($theme);
							> a {
								border-left: solid map-get($theme, 'sccl-header-primary-darken') 1px;
								padding: 0 15px;
								&:hover {
									color: map-get($theme, 'sccl-header-text-lighten');
									background: map-get($theme, 'sccl-header-primary-darken');	
								}	
							}
						}
						.loggedIn {
							.icon {
								line-height: 21px;
								font-size: $icon-font-size;
								
							}
							.title {
								display: none;	
							}
						}
						.on-mobile {
							display: none;
						}
					}
				}
				.page-content-nav {
					padding-left: 30%;
					@include display-flex(none, center);
					color: map-get($theme, 'sccl-header-white');
					text-transform: uppercase;
					font-size: $font-size + .1;
					font-weight: bold;
					height: $foot-head-height;
					@include flex-width(1);
				}
				/*#dd-notification-menu {
					@include sccl-drop-down-menu(
						$theme, 
						map-get($theme, 'sccl-header-primary-darken'), 
						$dd-menu-width, $dd-menu-menu-top, $dd-menu-margin-left,
						$margin-right, $dd-menu-caret-position - 20,
						$margin-top +3, $margin-bottom+8, $dd-items-height, $caret-move-or-down);	
				}
				#dd-instant-menu {
					@include sccl-drop-down-menu(
						$theme, map-get(
							$theme, 'sccl-header-primary-darken'),
							$dd-menu-width, $dd-menu-menu-top, $dd-menu-margin-left+51,
							$margin-right, $dd-menu-caret-position + 30,
							$margin-top+3, $margin-bottom+24, $dd-items-height, $caret-move-or-down);	
				}
				#dd-inbox-menu {
					@include sccl-drop-down-menu(
						$theme, map-get(
							$theme, 'sccl-header-primary-darken'),
							$dd-menu-width, $dd-menu-menu-top, $dd-menu-margin-left+101.5,
							$margin-right, $dd-menu-caret-position + 82,
							$margin-top+3, $margin-bottom+24, $dd-items-height, $caret-move-or-down);	
				}	*/
				@media #{$medium-and-down} {
					.tbar-shortcuts {
						.tbar-shortcuts-dd-menu {
							.instant,
							.notification,
							.inbox {
								display: none;	
							}	
						}
					
						.tbar-shortcuts-dd-menu-none {
							@include display-flex(flex-end, center);
							@include flex-width(2);
							.on-mobile {
							display: inline-block;
						}	
						}	
					}
					
  				}
				
			}
			
			@media #{$small-and-down} {
				display: none;
				.page-content-nav {
					   padding-left: 3%;
					   font-size: 12px;
					   @include flex-width(1);
				}
				.tbar-shortcuts {
					.tbar-shortcuts-dd-menu-none {
						@include display-flex(flex-end, center);
						.mobile {
							@include display-flex(none, none);	
						}
						sccl-A-button {
							height: $foot-head-height;
							line-height: $foot-head-height;
							>span {
								a {
									padding: 0 11px;
									.shortcut-btn {
										.icon {
											font-size: 16px;	
										}	
									}
								}	
							}
						}
						.loggedOut {
							> .title {
								display: none;
							}	
						}
					}
				}
			}	
		}
	}
}