@import '../../../../scclStarter/scclStarter.scss';

@mixin sccl-content-section($theme) {
	> section {
		background: rebeccapurple; 	//map-get($theme, 'sccl-layout-background');
		width: 72%;
		margin: auto;
		sccl-starter {
			@include sccl-starter($theme);
		}		
	}
	@media #{$small-and-down} {
		
	}
}