@import '../../../scclPanels/scclSettings/scclSettings.scss';

@mixin sccl-rsh-panel($theme) {
	.rsh-panel-hidden {
		position: fixed;
		@include sccl-translate(50px, 0);
		@include sccl-transition(width, .5s);
		height: 100%;
		z-index: 1000;
		width: $sidebar-width;	
		background-color: map-get($theme, 'sccl-sidebar-primary');
		@include border-radius($border-radius, 0, 0, 0);
		> sccl-tab {
			@include sccl-tab($theme);
			@include sccl-settings($theme);	
		}
	}
	.rsh-panel {
		position: fixed;
		height: 100%;
		z-index: 1000;
		width: $sidebar-width;
		border: 1px solid map-get($theme, 'sccl-primary-darken');;
		@include sccl-translate(-252px, 0);
		@include sccl-transition(width, .5s);
	}

	@media #{$small-and-down} {
	}
}