<<<<<<< HEAD
@mixin sccl-button-b($bgColor, $foreColor, $sccl-button-height) {
	> span {
		@include display-flex(space-between, center);
		> button {
			background: $bgColor;
			width: 100%;
			color: $foreColor;
			box-shadow: none;
			height: $sccl-button-height;
			line-height: $sccl-button-height;
			padding: 0; margin: 0;
			> span {
				height: $sccl-button-height;
				line-height: $sccl-button-height;
				&.btn-title {
					font-weight: bold;
				}
			}
		}
		&#button-dropdown-menu-wrapper {
			> a, ul {
				padding: 0;
				background: $bgColor;
				color: $foreColor;
				box-shadow: none;
				margin: 0;
				min-width: 2px;
				width: 70px;
				>li {
					padding: 0;
					text-align: center;
					min-width: 2px;
					width: 70px;
					>span {
						color: $foreColor;
						font-size: $icon-font-size;
					}
				}
			}
		}
	}

	#clear-btn {
		color: red;
=======
@mixin sccl-button-b(
	$theme, $bgColor, $foreColor, $sccl-button-height, 
	$sccl-button-padding-x, $sccl-button-padding-y,
	$sccl-button-margin-x, $sccl-button-margin-y,
	$sccl-button-width) {
	> button {
		background: $bgColor;
		width: $sccl-button-width;
		color: $foreColor;
		height: $sccl-button-height;
		line-height: $sccl-button-height;
		padding: $sccl-button-padding-y $sccl-button-padding-x;
		margin: $sccl-button-margin-x $sccl-button-margin-y;
		> span {
			height: $sccl-button-height;
			line-height: $sccl-button-height;
			&.btn-title {
				font-weight: bold;
			}
		}
>>>>>>> 5539d2f61bba607193bb36cbf255176783dfb904
	}
}