@import 'scclHeader/scclHeader';
@import 'scclBody/scclBody';
@import 'scclTechnicalPanel/scclTechnicalPanel';
@import '../../scclStarter/scclLogin/scclLogin';

@mixin sccl-layout($theme) {
	> span {
		sccl-header {
			@include scclHeader($theme);
		}
		sccl-body {
			@include sccl-body($theme)
		}
		> footer#sccl-footer {
			position: fixed;
			bottom: 0;
			height: 40px;
			background: map-get($theme, 'sccl-layout-background');
			width: 100%;
			> sccl-footer {
				@include sccl-footer($theme);
			}
			@include respond-to(md) {
				display: none;
			}
		}
	}
	> aside.technical-panel {
		position: fixed;
		height: auto;
		width: 250px;
		background: transparent;
		z-index: 2;
		right: -250px;
		sccl-technical-panel {
			@include sccl-technical-panel($theme) 
		}
	}	
	background: map-get($theme, 'sccl-layout-background');
}