@mixin sccl-A-button($theme) {
	
}

@mixin sccl-rounded-btn($theme) {
	background: map-get($theme, 'sccl-header-secondary');
	width: 27px;
	height: 27px;
	margin-top: 6px;
	> i.material-icons {
		height: 27px;
		line-height: 27px;
		font-size: 19px;
		color: map-get($theme, 'sccl-button-white');
	}		
}