
$font-size: 1em;
$font-weight: 600;

$breakpoints: (
  'xs':  $small-screen-up - 200,
  'sm':  $small-screen-up,
  'md': $medium-screen-up,
  'lg':  $large-screen-up,
  'xlg':  1200px
);
$breakpoints-default-feature: min-width;




//======= IMAGE PATH =========
$logoPath: "/assets/scclgraphics/scclLogo/sccl_logo_sm.png";


//======= GENERIC VARIABLES =========
$margin-left:0px; 
$margin-right: 0px;
$margin-top: 0px;
$margin-bottom: 0px;
$caret-y-axis: 0px;
$top: 0px; 
$width: 0px;
$border-radius: 0;
$height: 23px;
$padding-left: 3px;
$icon-font-size:$font-size + .5;
$sccl-border: 1px;
$z-index: 1;


//======= SIDE BARS ==================
$sidebar-width: 250px;
$sidebar-padding: 0;
$sidebar-font-size: $font-size;
$sidebar-font-size-sm: $sidebar-font-size - .1;
$sidebar-collapse-width: $sidebar-width - 170;

//======= SCCL HEADER ==================
    $header-z-index: $z-index;
    //======= MAIN HEAD =======================
    $sccl-main-head-height: 45px;
    $sccl-main-head-min-height: 30px;
    //======= TOP HEAD ======================

//======= HOME PANELS ================
$max-width: $width + 340;
$login-panel-max-width: $max-width;

//======= SCCL BUTTONS ===============
$sccl-buttons-weight: $font-weight;
$sccl-button-height: $height;
$sccl-button-padding: 10px;
$sccl-button-margin: 10px;
$sccl-button-padding-x: 5px;
$sccl-button-margin-x: 5px;
$sccl-button-padding-y: 5px;
$sccl-button-margin-y: 5px;
$sccl-button-width: 5px;

//======= SCCL FORMS ===============
$sccl-form-input-border: $sccl-border; 

//======= SCCL CARDS ===============
$head-height: $height + 12;


//======= CARET (default settings suite only for the user drop down menu) =============
$caret-x-pos: 15px;
$caret-y-pos: -35px;
$caret-content:$fa-var-caret-up;
$caret-size: 35px;

//======= SCCL TAB ===============
$sccl-tab-border-raidus:$border-radius;
$tab-font-size-sm: $font-size - .15;

//======= SCCL SELECT ==================
$sccl-select-input-border: $sccl-border;
$sccl-select-items-height: 300px;

//======= SCCL TECHNICAL PANEL ==================
$tpanel-z-index: $z-index + 1;

//======= SCCL BODY ==================
$bodyWidth: 45%;