$resXXL: 1280px;
$resXL: 1170px;
$resL: 991px;
$resM: 768px;
$resS: 660px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;

$font-size: 1em;
$font-weight: 400;


//======= GENERIC VARIABLES =========
$margin-left:0px; 
$margin-right: 0px;
$margin-top: 0px;
$margin-bottom: 0px;
$caret-y-axis: 0px;
$top: 0px; 
$width: 0px;
$border-radius: 0;
$height: 23px;
$padding-left: 3px;
$icon-font-size:$font-size + .3;
$sccl-border: 1px;
$z-index: 1;


//======= SIDE BARS ==================
$sidebar-width: 250px;
$sidebar-font-size: $font-size;
$sidebar-font-size-sm: $sidebar-font-size - .1;
$sidebar-collapse-width: $sidebar-width - 170;

//======= SCCL HEADER ==================
    $header-z-index: $z-index;
    //======= MAIN HEAD =======================
    $sccl-main-head-height: 55px;
    $sccl-main-head-min-height: 30px;
    //======= TOP HEAD ======================
    //======= FOOT HEAD ======================
    $foot-head-height: $height;

//======= HOME PANELS ================
$max-width: $width + 340;
$login-panel-max-width: $max-width;

//======= SCCL BUTTONS ===============
$sccl-buttons-weight: $font-weight;
$sccl-button-height: $height;
$sccl-button-padding: 10px;
$sccl-button-margin: 10px;
$sccl-button-padding-x: 5px;
$sccl-button-margin-x: 5px;
$sccl-button-padding-y: 5px;
$sccl-button-margin-y: 5px;
$sccl-button-width: 5px;

//======= SCCL FORMS ===============
$sccl-form-input-border: $sccl-border; 

//======= SCCL CARDS ===============
$head-height: $height + 12;

//======= DROP DOWN MENU  (default settings suite only for the user drop down menu)=============
$dd-menu-height: 50px;
$dd-menu-line-height: $dd-menu-height;
$dd-menu-min-height: $dd-menu-height - 20;
$dd-menu-width: 20px;
$dd-menu-width: 20px;
$dd-menu-x-pos: 0px;
$dd-menu-y-pos: 54px;
$dd-menu-font-size: $font-size; 

//======= CARET (default settings suite only for the user drop down menu) =============
$caret-x-pos: 15px;
$caret-y-pos: -35px;
$caret-content:$fa-var-caret-up;
$caret-color: green;
$caret-size: 35px;

//======= SCCL TAB ===============
$sccl-tab-border-raidus:$border-radius;
$tab-font-size-sm: $font-size - .15;

//======= SCCL SELECT ==================
$sccl-select-input-border: $sccl-border;
$sccl-select-items-height: 300px;

//======= SCCL TECHNICAL PANEL ==================
$tpanel-z-index: $z-index + 1;