@import './sidebars/scclLeftMenuBar/scclLeftMenuBar';
@import './scclContentSection/scclContentSection';
@import './sidebars/scclRightMenuBar/scclRightMenuBar';

@mixin sccl-body($theme) {
	$bg: map-get($theme, 'sccl-layout-background');
	$padding-top: 55px;
	sccl-right-menu-bar {
		@include sccl-right-menu-bar($theme);
	}
	sccl-left-menu-bar {
		@include sccl-left-menu-bar($theme);
	}
	
	> section {
		/* The 'default' css class is active only 
			when the user is not logged in.
		*/
		&.default {
			> aside {
				display: none;
				position: fixed;
				top: $padding-top + 15;
				border: 1px solid $bg;
				width: 19.5%;
				@include respond-to(lg) {
					width: 26.5%;
				}

			}
			> aside#left-side-panel {
				@include respond-to(md) {
					display: block;
				}
			}
			> section#main-section-panel {
				color: #fff;
				margin: auto;
				padding-top: $padding-top;
				> div.content {
					padding-bottom: 20px;
					sccl-starter { /****** sccl starter scss file loads*****/
						> div {
							> sccl-login {
								@include sccl-login($theme); /****** sccl login scss file load*****/
							}
						}
					}
				}
				@include respond-to(sm) {
					padding: $padding-top 10% 0 10%;
				}
				@include respond-to(md) {
					padding: $padding-top 20% 0 20%; 
				}
				@include respond-to(lg) {
					padding: $padding-top 27% 0 27%; 
				}
			}
			> aside#right-side-panel { 
				right: 0;
				@include respond-to(lg) {
					display: block;
				}
			}
		}

		/* Some properties in 'logged-in' class is 
		active only when the user is logged in*/
		&.logged-in {
			$padding-top: $padding-top - 10;
			> aside {
				@include respond-to(sm) {
					display: block;
					width: 70px;
				}
				@include respond-to(lg) {
					width: 250px;
				}
			}
			#main-section-panel {
				padding-top: $padding-top;
				@include respond-to(sm) {
					padding: $padding-top 75px 0 75px;
				}
				@include respond-to(lg) {
					padding: $padding-top 255px 0 255px; 
				}
			}
			> aside#right-side-panel { 
				@include respond-to(lg) {
					display: block;
				}
			}
		}
	}
}

