<section 
	[ngClass]="{'logged-in': isLoggedIn, 
		'collapseRightSidePanel': rightSidebarConfig?.isCollapsed, 
		'collapseLeftSidePanel': leftSidebarConfig?.isCollapsed}">

	<aside 
		id="left-side-panel" 
		[ngStyle]="{'height': leftSidebarConfig?.height + 'px'}"
		[@sidebar-resize]="leftSidebarConfig?.state">
		<sccl-left-menu-bar
			[sidebarConfig]="leftSidebarConfig"
			[isLoggedIn]="isLoggedIn"
			(emitSidebarState)="collapseAsidePanel($event)">
		</sccl-left-menu-bar>
	</aside>

	<section 
		id="main-section-panel"
		[@left-padding]="leftSidebarConfig?.state"
		[@right-padding]="rightSidebarConfig?.state">
		<div>
			<router-outlet></router-outlet>
		</div>
	</section>

	<aside 
		id="right-side-panel" 
		[ngStyle]="{'height': rightSidebarConfig?.height + 'px'}"
		[@sidebar-resize]="rightSidebarConfig?.state">
		<sccl-right-menu-bar
			[sidebarConfig]="rightSidebarConfig"
			[isLoggedIn]="isLoggedIn"
			(emitSidebarState)="collapseAsidePanel($event)">
		</sccl-right-menu-bar>
	</aside>
</section>

<!--
<section [ngStyle]="getContentStyle()">
	<div>
		<sccl-left-side-menu-bar *ngIf="isLoggedIn"></sccl-left-side-menu-bar>
		<sccl-content-section>
		</sccl-content-section>
		<sccl-widget-bar *ngIf="isLoggedIn"></sccl-widget-bar>
		<sccl-rsh-panel id="rshPanel"></sccl-rsh-panel>
	</div>
</section>


<section [ngClass]="{'logged-in': false}">
	<aside id="left-side-panel" [ngStyle]="{'height': sidebarHeight + 'px'}">
		<div class="shift-content-right">
			>
			<router-outlet name="left-side-panel"></router-outlet>
		</div>
	</aside>
	
	<section id="main-section-panel">
		<div class="div-left">
			sadfasd
		</div>
		<div class="div-center">
			<router-outlet></router-outlet>
		</div>
		<div class="div-right"></div>
	</section>
	<aside id="right-side-panel" [ngStyle]="{'height': sidebarHeight + 'px'}">
		<router-outlet name="right-side-panel"></router-outlet>
	</aside>
</section>






<section [ngClass]="{'logged-in': false}">
	<aside id="left-side-panel" [ngStyle]="{'height': sidebarHeight + 'px', 'width': 20 + '%'}">
		<div class="shift-content-right">
			<router-outlet name="left-side-panel"></router-outlet>
		</div>
	</aside>
	<section id="main-section-panel" [ngStyle]="{'width': 55 + '%'}">
		<router-outlet></router-outlet>
	</section>
	<aside id="right-side-panel" [ngStyle]="{'height': sidebarHeight + 'px', 'width': 20 + '%'}">
		<router-outlet name="right-side-panel"></router-outlet>
	</aside>
</section>
-->