
@mixin sccl-collapsible() {
  div.mCSB_container {
    > ul{
        background: transparent;
        box-shadow: none;
        width: 100%;
        border: none;
        margin-top: 0;
        > li {
          user-select: none;
        }
        @content
    }
  }  
}