@mixin sccl-B-button($theme) {
	>button {
		background: map-get($theme, 'sccl-button-secondary');
		color: map-get($theme, 'sccl-button-white');
		float: right;
		font-weight: $sccl-buttons-weight;
		margin-bottom: 10px;
		width: 100%;
		text-transform: none;
	}
}