@import '../scclCard/scclCard';
@import '../scclButtons/scclButtonB/scclButtonB';
	
@mixin sccl-form($theme) {
	$_2nd-color: map-get($theme, 'sccl-secondary'); 
	$foreColor: map-get($theme, 'sccl-form-primary-deep-darken');
<<<<<<< HEAD
	$_2nd-bgColor: map-get($theme, 'sccl-default-secondary-button-bg');
=======
>>>>>>> 5539d2f61bba607193bb36cbf255176783dfb904
	> div {
		sccl-card {
			@include sccl-card($theme);
			form {
				.image_placeholder {
					text-align: center;
					padding: 10% 0;
					img {
						width: 25%;
						height: 25%;	
					}
				}
				.input-field {
					input {
						border-bottom: $sccl-form-input-border solid map-get($theme, 'sccl-form-text-darken');
						font-size: $font-size + .3;
<<<<<<< HEAD
						margin-bottom: 10%;
						height: 30px;
						color: white;
						//padding-left:  24px;//**
					}
					> i {
     					color: $_2nd-bgColor;
     					font-size: $font-size + .7;
     					position: absolute;
						top: 9px;
						left: 3%; 
=======
						margin-bottom: 30px;
						height: 30px;
						color: white;
						padding-left:  24px;//**
						width: 93%; //**
					}
					> i {
     					color: map-get($theme, 'sccl-default-secondary-button-bg');
     					font-size: $font-size + .7;
     					position: absolute;
						top: 9px;
						left: -2px; 
>>>>>>> 5539d2f61bba607193bb36cbf255176783dfb904
   					}
				}
		 		.input-field input[type] + label {
		 			line-height: 20px;
		 			height: 30px;
    			 	color: map-get($theme, 'sccl-form-text-darken');
<<<<<<< HEAD
    			 	padding-left: 7%; //**
=======
    			 	padding-left:  24px; //**
>>>>>>> 5539d2f61bba607193bb36cbf255176783dfb904
   				}
   				.input-field input[type]:focus + label {
     				color: $_2nd-color;
   				}
   		
   				.input-field input[type]:focus {
     				border-bottom: .001rem solid $_2nd-color;
   				}
   		
   				.input-field .prefix.active {
     				color: $_2nd-color;
   				}
   			
   				.form-action {
					sccl-button-b {
<<<<<<< HEAD
						@include sccl-button-b($_2nd-bgColor, white, $sccl-button-height + 20);
=======
						@include sccl-button-b(
						$theme, map-get($theme, 'sccl-default-secondary-button-bg'), white, $sccl-button-height + 20, 0,
						$sccl-button-padding-y, 0, 0, 100%);
>>>>>>> 5539d2f61bba607193bb36cbf255176783dfb904
					}
				}	
   				
			}
		}
	}	
}