@import '../@scclShared/scclPanels/scclLogin/scclLogin';
@import '../@scclShared/scclCommon/scclComponents/scclTab/scclTab';

@mixin sccl-home($theme) { 
	> div {
		width: 100%;
		padding: 0 !important;
		margin-bottom: 0 !important;
		> section.container {
			padding: 0 !important;
			margin-bottom: 0 !important;
			width: 78%;
			> div {
				> section {
					sccl-tab {
						@include sccl-tab($theme); 
					}
				}
				> aside {
					> div {
						sccl-login {
							@include sccl-login($theme)
						}	
					}	
				}	
			}
		}		
	}
	
	@media #{$medium-and-down} {
		> div {
			#login {
   				> div {
   					@include sccl-login($theme)
   				}	
   			}		
		}
	}

	@media #{$small-and-down} {
		> div {
			> section.container {
				width: 100%;
			}
			#login {
   				> div {
   				
   				height: 1000px;
   					@include sccl-login($theme);
   				}	
   			}	
		}
	}
}