@import '../../../../scclCommon/scclComponents/scclTab/scclTab';
@import '../sccl-sidebar-mixins';

@mixin sccl-right-menu-bar($theme){
	> div#right-menu-bar {
		@include sidebar($theme);
		/* The 'default' css class is active only 
			when the user is not logged in.
		*/
		&.default {
			width: 300px;
		}

		/* Some properties in 'logged-in' class is 
		active only when the user is logged in*/
		&.logged-in {
			width: 100%;
			sccl-tab {
				@include sccl-tab($theme);
			}
		}

		> div.menubar {
			background: transparent;
			div#resolved-component-right {
				background: transparent;
				> div {
					background: transparent;
					@include sccl-login($theme);
				}
			}
		}
	}
}