@mixin sccl-top-head($theme) {
	sccl-top-head {
		>nav {
			min-height: 10px;
			background: map-get($theme, 'sccl-header-primary-darken');
			height: 20px;
			>div.nav-wrapper{
				background: map-get($theme, 'sccl-header-primary-darken');
				color: map-get($theme, 'sccl-header-text');
				@include display-flex(space-between, center);
				padding: 0 20px;
				>div.sccl-logo {
					display: none;
				}
				>div.session, >div.last-login, >div.date-today {
					@include display-flex(none, none);
					padding: 0 ;
					font-weight: bold;
					font-size: 11px;
					.material-icons {
						font-size: .8rem;	
					}
					> div {
						margin-left: 2px;	
					}
				}
			}
			@media #{$medium-and-down} {
    				
			}
		  @media #{$small-and-down} {	
			> div.nav-wrapper {
				@include display-flex(space-between, none);
				>div.sccl-logo {
					display: block;
					@include logo-image()
				}
				>div.session, div.last-login {
					display: none;
				}
			}
		  }
		}
	}

	/*
	This class below is responsible for controlling the visibility 
	of this top bar in different screen sizes. It applied in the nav
	tag in the scclTopHead.html using ngClass and this class by default 
	is false but it is activated by any module or component that requires
	its functionality
	*/
	.toggle-topBar-visibility {
		display: none;
		@media #{$small-and-down} {
			display: block;	
			> div.nav-wrapper {
				@include display-flex(space-between, none);
				>div.sccl-logo {
					@include logo-image()
				}
				>div.session, div.last-login {
					display: none;
				}
			}
		}
	}
}

@mixin logo-image {
	img {
		width: 20px;
		position: relative;
		top: 1px;
		left: -4px;
	}	
}