<nav [ngClass]="{'toggle-topBar-visibility': toggleTopBarVisibility}">
	<div class="nav-wrapper">
		<div class="sccl-logo">
			<img alt="sccl" src="{{ 'scclLogo/sccl_logo' | scclPngExt }}">
		</div>
		<div  class="session">
			<div class="session-icon">
				<i *ngIf="isLoggedIn" class="material-icons">pie_chart_outlined</i>
			</div>
			<div class="calendar-icon">
				<span *ngIf="isLoggedIn" >{{week | translate}}: {{academicWeek}}, {{semester | translate}}: {{schoolSemester}}</span>
			</div>
		</div>
		<div class="date-today">
			<div class="clock-icon">
				<i class="material-icons">date_range</i>
			</div>
			<div class="today">
				<span>{{month | translate}} {{date}}, {{day | translate}} {{year}}</span>
			</div>
		</div>
		<div class="last-login">
			<div class="clock-icon">
				<i *ngIf="isLoggedIn" class="material-icons">access_time</i>
			</div>
			<div class="last-login-date">
				<span *ngIf="isLoggedIn">{{lastLogin | translate}}:</span>
				<span *ngIf="isLoggedIn">{{dateLastLogin}}</span>
			</div>
		</div>
	</div>
</nav>