<ng-container *ngFor=" let conf of [ddMenuConfig]">
	<a class='{{conf?.trigger?.class}}' 
		href='javascript:' 
		attr.data-activates="{{conf?.trigger?.id}}" 
		[dropDownTrigger]=conf?.trigger
		[dropDownProperties]=conf?.properties
		data-tooltip="conf?.trigger?.tool_tip?.title"
		[scclToolTip]=conf?.trigger>
		<ng-content></ng-content>
	</a>

	<ul id="{{conf?.trigger?.id}}" class='dropdown-content'>
		
		<!-- HEADER-->
		<div class="divider"></div>
		<div *ngIf="conf?.header?.length != 0"
			 class="dropdown-menu-header">
			<ng-container *ngFor="let hItem of conf?.header">
				<span *ngIf="hItem?.route"
				  	routerLink="{{hItem.route}}" 
				  	id="{{hItem.id}}">
					{{hItem.title | translate}}
				</span>
				<span *ngIf="!hItem.route"
				  	id="{{hItem.id}}">
					{{hItem.title | translate}}
				</span>
			</ng-container>
		</div>

		<!-- PRELOADER -->
		<div *ngIf="conf?.itemsContainer?.length === 0" id="preloader-small">
			<div class="preloader-wrapper small active">
				<div class="spinner-layer">
					<div class="circle-clipper left">
					<div class="circle"></div>
					</div><div class="gap-patch">
					<div class="circle"></div>
					</div><div class="circle-clipper right">
					<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- DROP DOWN MENU BODY-->
		<!-- Make sure to set height property for this div, 'dropdown-menu-container' -->
		<div *ngIf="conf?.itemsContainer?.length !== 0"
			 class="dropdown-menu-container"
			 #menuContainer 
			 [scclScrollbar]=menuContainer>
			<ng-container *ngFor="let item of conf?.itemsContainer">
					<!-- LINKS WITH HREF-->
				<li *ngIf="item.href"><a href="/">{{item.title | translate}}</a></li>
				
				<!-- ANGULAR ROUTES-->
				<li *ngIf="item.route">
					<a  routerLink="{{item.route}}" 
						routerLinkActive="active">

						<!-- BASIC ROUTES-->
						<span *ngIf="!item.sender">
							{{item.title | translate}}
						</span>


						<!-- NOTIFICATIONS ROUTES-->
						<span *ngIf="item.sender">
							{{item.title | translate}}
						</span>
					 </a> 
				</li>
			</ng-container>
		</div>
	
		<!-- FOOTER-->
		<div *ngIf="conf?.footer?.length !== 0" class="dropdown-menu-footer">
			<span *ngFor="let fItem of conf?.footer">
				{{fItem.title}}
			</span>
		</div>
	</ul>
</ng-container>