@mixin sccl-drop-down-menu() {
	@content;
	> a {
		@include display-flex(center, center);
	}
	> ul {
		height: auto;
		overflow-y: visible;
		> div.dropdown-menu-header {
			background: red;
			.divider {
				background: green;
				height: 5px;
			}
		}	
		> div.dropdown-menu-box {
			overflow-y: scroll;
			overflow-x: hidden;
		}
		> div.dropdown-menu-footer {
			background: red;
		}
	}

}

/*
.mCSB_container {
		background: orange !important;
		&::before {
			content: $fa-var-caret-up;
			font-family: FontAwesome;
			position: inherit !important;
			z-index: 8000 !important;
			font-size: 25px;
			color: red;
			top: -40px;
	}
}*/
