@mixin sccl-tab($theme) {
	.row, .col{
		padding: 0 !important;
		margin: 0 !important;
	}	
	> div.tab-wrapper {
		background-color: map-get($theme, 'sccl-tabs-primary');
		@include border-radius($border-radius, $border-radius, 0, 0);
		>div.row {
			> div.tab-head-wrapper {
				> ul.tabs {
					background-color: map-get($theme, 'sccl-tabs-primary-darken');
					@include border-radius($border-radius, $border-radius, 0, 0);
					> .tab {
						#sm-tab{font-size: $font-size - .35}
						a {
							color:  map-get($theme, 'sccl-tabs-text-darken');
							font-size: $font-size;
							&:hover, &.active {
								color: map-get($theme, 'sccl-tabs-text-lighten'),;	
							}	
						}	
					}
					.indicator {
		    			background-color:map-get($theme, 'sccl-tabs-secondary');
		  			}
				}		
			}
			> div.tab-body-wrapper {
				color: #fff;
				> div {
					margin: 0 3%;	
				}
			}
		}
	}

	@media #{$small-and-down} {
		> div.tab-wrapper {
			width: 100%;
			.tabs {
				@include border-radius(0)	
			}
		}
	}
}

.mCSB_scrollTools {
	margin: 0;
	padding: 0;	
	margin-right: 22px !important;
}