<div class="tab-wrapper" *ngIf="tab !== undefined">
	<div class="row">
		<div class="col s12 tab-head-wrapper">
			<ul class="tabs">
				<li *ngFor="let tabh of tab.tabHeader" class="tab col {{tabh.class}}">
					<a [tab-head]=th #th href="#{{tabh.ref}}" id="{{tabh.id}}">
					{{tabh.title | translate}}</a>
				</li>
			</ul>
		</div>
		<div 
			[ngStyle]="{'height': (winHeight - tab.tabHeight) + 'px'}" [tab-body]=tb #tb
			*ngFor="let tabb of tab.tabBody" id="{{tabb.id}}"
			class="col s12 tab-body-wrapper {{tabb.class}}">
		</div>
	</div>
</div>