<div class="tab-wrapper" *ngIf="tab !== undefined">
	<div class="row">
		<div class="col s12 tab-head-wrapper">
			<ul class="tabs">
				<ng-container *ngFor="let tabh of tab.tabHeader">
					<li class="tab col {{tabh.class}}">
						<a #th href="#{{tabh.ref}}" id="{{tabh.id}}">
						{{tabh.title | translate}}</a>
					</li>
				</ng-container>
			</ul>
		</div>
		<div 
			[ngStyle]="{'height': (height - 30) + 'px'}" 
			[scclTabBody]=tb #tb [scclTabComponent]=tab.tabComponent
			*ngFor="let tabb of tab.tabBody" id="{{tabb.id}}"
			class="col s12 tab-body-wrapper {{tabb.class}}">
		</div>
	</div>
</div>

<!--

<div class="tab-wrapper" *ngIf="tab !== undefined">
	<div class="row">
		<div class="col s12 tab-head-wrapper">
			<ul class="tabs">
				<li *ngFor="let tabh of tab.tabHeader" class="tab col {{tabh.class}}">
					<a [scclTabHead]=th #th href="#{{tabh.ref}}" id="{{tabh.id}}">
					{{tabh.title | translate}}</a>
				</li>
			</ul>
		</div>
		<div 
			[ngStyle]="{'height': (winHeight - tab.tabHeight) + 'px'}" [scclTabBody]=tb #tb
			*ngFor="let tabb of tab.tabBody" id="{{tabb.id}}"
			class="col s12 tab-body-wrapper {{tabb.class}}">

			<router-outlet [attr.name]="tabb.id"></router-outlet>
		</div>
	</div>
</div>
-->