@mixin sccl-card($theme) {
	.card {
		background: map-get($theme, 'sccl-card-primary');		
		margin: 0; padding: 0;
		padding-bottom: 7%;
		> .card-content {
			margin: 0; padding: 0;
			> .card-header > div  {
				height: $head-height;
				text-transform: uppercase;
				> .card-title {
					font-weight: $font-weight;
					font-size: $font-size;
					padding: 0 30px;
					line-height: $head-height;	
				}
				> .material-icons {
					color: map-get($theme, 'sccl-card-text-darken');	
					line-height: $head-height;
					text-align: center;
				}
			}
		}
	}
}