@mixin sccl-left-side-menu-bar($theme) {
	color: white;
	div {
		background: map-get($theme, 'sccl-sidebar-primary');
		width: $sidebar-width;
		@include border-radius(0, $border-radius, $border-radius, 0)
		display: block;	
		
		
		.collapsible {
  border-top: none;
  border-right: none;
  margin:0;
  @extend .z-depth-1;
}

.collapsible-header {
    background-color: transparent;
    border: none;
    line-height: 40px;
    height: 40px;
    padding: 0 $sidenav-padding;

    &:hover { background-color: rgba(0,0,0,.05); }
    i { line-height: inherit; }
  }
		.collapsible-header {
  display: flex;
  cursor: pointer;
  
  background-color: red;
  //border-bottom: 1px solid $collapsible-border-color;

  i {
    width: 4rem;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
  }
}
	}
}