<nav>
	<div class="nav-wrapper">
		<div id="head-left">
			<div class="user-menu">
				<!--this button displays when user is not logged in-->
				<sccl-dropdown-menu *ngIf="!isLoggedIn" id="user-menu"
					[ddMenuConfig]="userMenuConfig"
					[itemsContainer]="userMenuConfig?.itemsContainer">
				</sccl-dropdown-menu>
			</div>
			<div class="sccl-logo">
				<a href="#">
					<span>School</span>Cloudy
					<img 
						alt="sccl" 
						src="{{ 'scclLogo/sccl_logo' | scclPngExt }}">
				</a>
			</div>
		</div>

		<div class="active-page-title">
			<span>{{activePageTitle | translate}}</span>
		</div>

		<div id="head-right">
			<div class="user-LoggedIn-menu">
				<!--this button displays when user logged in-->
				<sccl-dropdown-menu 
					*ngIf="isLoggedIn" 
					id="user-LoggedIn-menu"
					[ddMenuConfig]="userMenuConfig"
					[itemsContainer]="userMenuConfig?.itemsContainer">
					<span 
						*ngIf="user !== undefined" 
						class="avatar"> 
						<img 
							src="{{ ('profile/' + (user.firstName + '.' 
							+ user.lastName | lowercase) | scclPngExt) }}" 
							alt="{{user.firstName}}"
							class="circle">
					</span>
					<span *ngIf="user !== undefined" class="user-name">
						<span>{{user.firstName}} {{user.lastName}}</span>
						<i class="fa fa-caret-down"></i>
					</span>
				</sccl-dropdown-menu>
			</div><!--menu-button close tag-->

			<div *ngIf="isLoggedIn" class="notifications">
				<sccl-dropdown-menu id="notification-menu"
					[size]="notifierConfig.size"
					[ddMenuConfig]="notifierConfig"
					[itemsContainer]="notifierConfig?.itemsContainer">
				</sccl-dropdown-menu>
			</div>

			<div class="rhs-btns">
				<sccl-button-b
					[scclBtns]="buttonConfigs" 
					(btnActions)="btnActions($event)">
				</sccl-button-b>
			</div>

			<div *ngIf="!isLoggedIn" class="rhs-link-btns">
				<sccl-link-button
					[scclBtns]="linkBtnConfigs"
					(btnActions)="btnActions($event)">
				</sccl-link-button>
			</div>
		</div>
	</div>
</nav>